include ../head.pug
- let sectionTitle= "Checkout"
include ../nav.pug

body
  div.flex-dir-col.hori-col-center
    h3 You've succesfully purchased your products!
    h3 (Except not really.)
    a.a-btn.a-large-btn.btn-submit(href= "/products") Back to Products

include ../footer.pug
