include ../head.pug
- let sectionTitle= "Checkout"
include ../nav.pug

body
  div.flex
    h3 You've succesfully purchased your products! (Except not really.)
    button
      a(href= "/products") Back to products