doctype html
html(lang="en")
  head
    title HelenShop
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    script(src="/scripts/main.js")
    script(src="https://kit.fontawesome.com/4b690cd6ed.js")