doctype html
html(lang="en")
  head
    title HelenShop
    link(rel="stylesheet", href="/public/css/main.css")
    script(src="/public/scripts/main.js")
    script(src="https://kit.fontawesome.com/4b690cd6ed.js")