
/* ADDED TO CART success page                              ADDED TO CART */
/* .added-to-cart {
  width: 100%;
  flex-wrap: wrap;
}
.added-to-cart h3 {
  width: 100%;
  text-align: center;
}
.added-to-cart .added-to-cart-title {
  font-style: italic;
}
.added-to-cart ul {
  width: 100%;
  align-items: center;
  justify-content: center;
} */


html {
  height: 100%;
}
body {
  margin: auto 3%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
  color: black;
}
.next-to-icon {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  margin: 1% 1%;
}
button {
  height: fit-content;
  width: fit-content;
}
.far, .fab, .fas {
  padding: 0 3px;
}

/* #footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 2.5rem;
} */
/* FLEX */
.flex {
  display: flex;
}
.flex-dir-col {
  display: flex;
  flex-direction: column;
}
.flex-dir-row {
  display: flex;
  flex-direction: row;
}
.flow {
  flex-wrap: wrap;
}
.grow {
  flex-grow: 1;
}
.grow-full {
  flex: 1 96%;
}
.vert-row-center {
  align-items: center;
}
.hori-row-center {
  justify-content: center;
}
.vert-col-center {
  justify-content: center;
}
.hori-col-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.row-end {
  justify-content: flex-end;
}
.col-start-self {
  align-self: flex-start;
}
/* WIDTH */
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.width-70 {
  width: 70%;
}
.width-25 {
  width: 25%;
}
.width-90 {
  width: 90%;
}
.max-500 {
  max-width: 500px;
}
.max-400 {
  max-width: 400px;
}
.max-700 {
  max-width: 700px;
}

/* IMAGES AND SHAPES */
.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 7%;
}
.square-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 7%;
}
.single-img {
  border-radius: 5%;
  max-width: 75%;
}
.rect-block-medium {
  width: 300px;
  height: 120px;
  border-radius: 7%;
}
.rect-block-small {
  width: 132px;
  height: 120px;
  border-radius: 7%;
}
.x-small-btn {
  width: 80px;
  height: 28px;
  font-size: 14px;
}
.small-btn {
  width: 100px;
  height: 30px;
  font-size: 14px;
}
.medium-btn {
  width: 125px;
  height: 36px;
  font-size: 16px;
}
.large-btn {
  width: 170px;
  height: 36px;
  font-size: 16px;
}
.x-large-btn {
  width: 180px;
  height: 40px;
  font-size: 18px;
}
.a-x-small-btn {
  width: 78px;
  height: 26px;
  font-size: 14px;
}
.a-small-btn {
  width: 98px;
  height: 28px;
  font-size: 14px;
}
.a-medium-btn {
  width: 123px;
  height: 34px;
  font-size: 16px;
}
.a-large-btn {
  width: 168px;
  height: 34px;
  font-size: 16px;
}
.a-x-large-btn {
  width: 178px;
  height: 38px;
  font-size: 18px;
}
.a-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 0.25rem;
}
.btn {
  cursor: pointer;
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 0.25rem;
}
.btn-simple {
  color: #000000;
  background-color: transparent;
  border-color: #000000;
}
.btn-simple:hover {
  color: #ffffff;
  background-color: #7b7b7b;
  border-color: #7b7b7b;
}
.btn-submit {
  color: #560056;
  background-color: transparent;
  border-color: #560056;
}
.btn-submit:hover {
  color: #ffffff;
  background-color: #560056;
  border-color: #560056;
}
.btn-edit {
  color: #009688;
  background-color: transparent;
  border-color: #009688;
}
.btn-edit:hover {
  color: #ffffff;
  background-color: #009688;
  border-color: #009688;
}
.btn-delete {
  color: #ec1b0b;
  background-color: transparent;
  border-color: #ec1b0b;
}
.btn-delete:hover {
  color: #ffffff;
  background-color: #ec1b0b;
  border-color: #ec1b0b;
}
.btn-transparent {
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-transparent:hover {
  color: #ffffff;
  background-color: #560056;
  border-color: #560056;
}

/* APPEARANCE */
.dark-text {
  color: #560056;
}
.shadow-outline {
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}
.thick-shadow {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}
.no-margin {
  margin: 0;
}
.point-cursor {
  cursor: pointer;
}
.purple-border {
  border: 1px solid #560056;
}
.white-background {
  background-color: #ffffff;
}

/* MARGIN */
.x-small-margin {
  margin: 7px;
}
.small-margin {
  margin: 10px;
}
.tb-small-margin {
  margin: 10px 0;
}
.t-small-margin {
  margin-top: 10px;
}
.medium-margin {
  margin: 20px;
}
.t-margin-medium {
  margin: 15px 0 0 0;
}
.tb-medium-margin {
  margin: 20px 0;
}
.tb-sm-md-margin {
  margin: 20px 0 10px 0;
}
.tb-med-lr-small-margin {
  margin: 20px 10px;
}
.lrb-medium-margin {
  margin: 0 20px 20px 20px;
}
.margin-1 {
  margin: 1%;
}
.margin-top-2 {
  margin-top: 2%;
}
.margin-left-14 {
  margin-left: 14%;
}

/* PADDING */
.small-padding {
  padding: 10px;
}
.smaller-padding {
  padding: 7px;
}
.medium-padding {
  padding: 20px;
}
.tb-medium-padding {
  padding: 20px 0;
}
.tlr-medium-padding {
  padding: 20px 20px 0 20px;
}
.lr-huge-tb-med-padding {
  padding: 20px 80px 20px 80px;
}
.padding-1 {
  padding: 1%;
}
.left-padding-2 {
  padding-left: 2%;
}
.left-padding-10 {
  padding-left: 10%;
}
.lr-padding-20 {
  padding: 0 20%;
}

/* FONT */
.small-font {
  font-size: 16px;
}
.small-medium-font {
  font-size: 18px;
}
.medium-font {
  font-size: 24px;
}
.medium-large-font {
  font-size: 28px;
}
.large-font {
  font-size: 32px;
}
.bold {
  font-weight: bold;
}
.not-bold {
  font-weight: 400;
}

/* ALERTS */
.alert.success {
  color: green;
  text-align: center;
}
.alert.error {
  color: red;
  text-align: center;
}

/* VERY SPECIFIC CSS FOR NAV */
#brand-image {
  color: #560056;
}
#brand-image-desk {
  color: #560056;
}
nav a {
  color: #000000;
}
.cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 150%; */
  height: 100%;
  background-color: white;
  opacity: 80%;
  background-image: linear-gradient(#ffffff, #e7fcf9, #ffffff);
}
#contact-email {
  margin-bottom: 5%;
}
#contact-phone {
  margin-bottom: 5%;
}
#phoneNum {
  font-weight: 400;
}
.nav-middle.desktop {
  display: none;
}
.nav-middle {
  margin-top: 20px;
  height: 60px;
}
.mobileNav.closed {
  width: 30%;
  flex-direction: column;
}
.mobileNav.open {
  box-shadow: rgba(0,0,0,0.25);
  width: 94%;
  position: absolute;
  flex-direction: column;
}
.mobileMenu {
  display: none;
  width: 100%;
  justify-content: flex-end;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  z-index: 1;
  background-color: white;
  opacity: 90%;
}
.menuToggle {
  font-size: 2em;
  align-self: flex-end;
  padding: 0 20px;
  z-index: 1;
}

/* MEDIA QUERIES */
@media (min-width: 420px) {
  /* FLEX */
  .grow-half-420 {
    flex: 1 46%;
  }
  .start-420 {
    justify-content: flex-start;
  }
  .end-420 {
    justify-content: flex-end;
  }
  /* WIDTH */
  .half-width-420 {
    width: 50%;
  }
  /* FONT */
  .small-font-420 {
    font-size: 16px;
  }
  .medium-font-420 {
    font-size: 21px;
  }
  /* PADDING */
  .lr-medium-padding {
    padding: 0 20px;
  }
}

@media (min-width: 600px) {
  /* WIDTH */
  .half-width-600 {
    width: 50%;
  }
  .width-65-600 {
    width: 65%;
  }
  .width-40-600 {
    width: 40%;
  }
  .max-200-600 {
    max-width: 200px;
  }
  .max-50-600 {
    max-width: 50%;
  }
  .hide-600 {
    display: none;
  }
  /* FLEX */
  .grow-third-600 {
    flex: 1 29%;
  }
  .grow-half-600 {
    flex: 1 46%;
  }
  .no-flow-600 {
    flex-wrap: nowrap;
  }
  .text-left-600 {
    text-align: left;
  }
  .flex-row-600 {
    flex-direction: row;
  }
  .start-600 {
    align-items: flex-start;
  }
  .hori-row-center-600 {
    justify-content: center;
  }
  .vert-row-center-600 {
    align-items: center;
  }
  .col-start-600 {
    align-items: flex-start;
  }
  .row-start-600 {
    justify-content: flex-start;
  }
  /* IMAGES */
  .thumbnail-600 {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 7%;
  }
  .rect-block-600 {
    width: 230px;
    height: 120px;
    border-radius: 7%;
  }
  .rect-block-small-600 {
    width: 320px;
    height: 120px;
    border-radius: 7%;
  }
  .rect-container-600 {
    width: 535px;
    padding: 0;
  }
  /* MARGIN */
  .no-margin-600 {
    margin: 0;
  }
  .lb-small-margin-600 {
    margin: 0 0 10px 10px;
  }
  /* PADDING */
  .no-padding-600 {
    padding: 0;
  }
  .large-top-padding-600 {
    padding-top: 100px;
  }
  .tb-x-lg-padding-600 {
    padding: 50px 0;
  }
  /* FONT */
  .medium-font-600 {
    font-size: 22px;
  }

  /* VERY SPECIFIC CSS FOR NAV */
  .nav-middle.mobile {
    display: none;
  }
  .nav-middle.desktop {
    display: flex;
    margin-top: 10px;
  }
}

@media (min-width: 800px) {
  /* FONT */
  .medium-font-800 {
    font-size: 18px;
  }
}

@media (min-width: 950px) {
  /* FLEX */
  .grow-fourth-950 {
    flex: 1 21%;
  }
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1500px) {
  /* FLEX */
  .grow-fifth-1500 {
    flex: 1 16%;
  }
}