

/* NAV                                                   NAV */
.cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: white;
  opacity: 40%;
  background-image: linear-gradient(#ffffff, #e7fcf9, #ffffff);
}
/* nav-top */
.nav-top {
  margin-top: 2%;
  flex-wrap: wrap;
  flex-direction: row;
}
.contact {
  width: 100%;
  justify-content: center;
  font-size: 1.1em;
}
.contact ul {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#contact-email {
  margin-bottom: 5%;
}
#contact-phone {
  margin-bottom: 5%;
}
#phoneNum {
  font-weight: 400;
}
.social {
  width: 100%;
  justify-content: center;
  font-size: 1.3em;
}
.social ul {
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.far, .fab, .fas {
  padding: 0 3px;
}

/* nav-middle */
.nav-middle.desktop {
  display: none;
}
.nav-middle {
  margin-top: 20px;
  height: 60px;
}
.brand {
  width: 70%;
  justify-content: flex-start;
}
.brand h3 {
  font-size: 1.75em;
  margin: 0;
}

/* burger menu */
.mobileNav.closed {
  width: 30%;
  flex-direction: column;
}
.mobileNav.open {
  box-shadow: rgba(0,0,0,0.25);
  width: 94%;
  position: absolute;
  flex-direction: column;
}
.mobileMenu {
  display: none;
  width: 100%;
  justify-content: flex-end;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
  z-index: 1;
  background-color: white;
  opacity: 90%;
}
.mobileMenu a {
  text-decoration: none;
  padding: 0 20%;
}
.menuToggle {
  font-size: 2em;
  align-self: flex-end;
  padding: 0 20px;
  z-index: 1;
}

/* nav-bottom */
.nav-bottom {
  display: flex;
}
.heading {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}
#section-title {
  margin: 10px;
  font-size: 1.3em;
}


/* ADDED TO CART                                        ADDED TO CART */
.added-to-cart {
  width: 100%;
  flex-wrap: wrap;
}
.added-to-cart h3 {
  width: 100%;
  text-align: center;
}
.added-to-cart .added-to-cart-title {
  font-style: italic;
}
.added-to-cart ul {
  width: 100%;
  align-items: center;
  justify-content: center;

}



/* MEDIA QUERIES                                           MEDIA QUERIES */
@media (min-width: 420px) {
  /* nav */
  .contact {
    width: 50%;
    justify-content: flex-start;
    font-size: 1em;
  }
  .contact ul {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  #contact-email {
    margin-bottom: 3%;
  }
  .social {
    width: 50%;
    justify-content: flex-end;
    font-size: 1.3em;
  }
  .social ul {
    padding: 0 20px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
}


@media (min-width: 600px) {
  /* nav-top */
  .nav-top {
    margin-top: 2%;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .contact {
    width: 60%;
    justify-content: flex-start;
    font-size: 1em;
  }
  .contact ul {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  #contact-email {
    margin-bottom: 1%;
  }
  .social {
    width: 40%;
    justify-content: flex-end;
    font-size: 1.3em;
  }
  .social ul {
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }

  /* nav-middle */
  .nav-middle.mobile {
    display: none;
  }
  .nav-middle.desktop {
    display: flex;
    margin-top: 10px;
  }
  .nav-middle {
    margin-top: 2%;
  }
  .brand {
    width: 50%;
    justify-content: flex-start;
  }
  .brand h3 {
    font-size: 1.75em;
    margin: 0;
  }
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
  }
  .nav ul {
    display: flex;
  }
  .menu {
    display: flex;
    font-size: 1.2em;
    justify-content: flex-end;
    border: none;
  }
  .menu li {
    border: none;
  }
  .menu a {
    padding: 7px;
    text-decoration: none;
  }
  .menuToggle {
    display: none;
  }

  /* nav-bottom */
  .nav-bottom {
    display: flex;
  }
  .heading {
    width: 40%;
    font-size: 1.5em;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  /* product details */
  .product-details {
    padding: 3% 0;
  }
}











/* LESS SPECIFIC CSS */
html {
  height: 100%;
}
body {
  margin: auto 3%;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.next-to-icon {
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  margin: 1% 1%;
}
button {
  height: fit-content;
  width: fit-content;
}




.flex-dir-col {
  display: flex;
  flex-direction: column;
}
.flex-dir-row {
  display: flex;
  flex-direction: row;
}
.flow {
  flex-wrap: wrap;
}
.grow {
  flex-grow: 1;
}
.grow-full {
  flex: 1 96%;
}

.vert-row-center {
  align-items: center;
}
.vert-col-center {
  justify-content: center;
}
.hori-row-center {
  justify-content: center;
}
.hori-col-center {
  align-items: center;
}
.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}



.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 7%;
}
.square-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 7%;
}
.single-img {
  border-radius: 5%;
  max-width: 75%;
}

.shadow-outline {
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}



/* PIXELS */
.small-margin {
  margin: 10px;
}
.tb-small-margin {
  margin: 10px 0;
}
.medium-margin {
  margin: 20px;
}
.tb-medium-margin {
  margin: 20px 0;
}
.tb-sm-md-margin {
  margin: 20px 0 10px 0;
}

.small-padding {
  padding: 10px;
}

.medium-padding {
  padding: 20px;
}
.tb-medium-padding {
  padding: 20px 0;
}
.small-font {
  font-size: 16px;
}
.medium-font {
  font-size: 24px;
}
.max-500 {
  max-width: 500px;
}
.not-bold {
  font-weight: 400;
}


/* PERCENTAGES */
.padding-1 {
  padding: 1%;
}
.left-padding-10 {
  padding-left: 10%;
}

.margin-1 {
  margin: 1%;
}




@media (min-width: 420px) {
  .grow-half-420 {
    flex: 1 46%;
  }
}
@media (min-width: 600px) {
  .desk-full-width {
    width: 100%;
  }
  .half-width-600 {
    width: 50%;
  }


  .thumbnail-600 {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 7%;
  }

  .grow-third-600 {
    flex: 1 29%;
  }
  .large-top-padding-600 {
    padding-top: 100px;
  }
  .max-200-600 {
    max-width: 200px;
  }

  .flex-row-600 {
    flex-direction: row;
  }
  .max-50-600 {
    max-width: 50%;
  }
  .start-600 {
    align-items: flex-start;
  }
  .hori-row-center-600 {
    justify-content: center;
  }
  .vert-row-center-600 {
    align-items: center;
  }
  .no-margin-600 {
    margin: 0;
  }
  .tb-x-lg-padding-600 {
    padding: 50px 0;
  }
  .col-start-600 {
    align-items: flex-start;
  }
  .row-start-600 {
    justify-content: flex-start;
  }
  .lb-small-margin-600 {
    margin: 0 0 10px 10px;
  }
}

@media (min-width: 950px) {
  .grow-fourth-950 {
    flex: 1 21%;
  }
}
@media (min-width: 1200px) {
  
}
@media (min-width: 1500px) {
  .grow-fifth-1500 {
    flex: 1 16%;
  }
}