include ../head.pug
- let sectionTitle= "Account"
include ../nav.pug

body
  h3 This is the information we have on file for you:
  h2 First Name: #{results[0].fname}
  h2 Last name: #{results[0].lname}
  h2 Email: #{results[0].email}


  div.flex.product-detail-buttons
    button.edit-button
      a(href= "/account/edit") 
        i.fas.fa-edit  Edit
    form(action="/account/delete", method="post" onsubmit="return confirm('Are you sure you want to permanently delete your account?')")
      input(type="hidden", name="accountId", value=results[0].id)
      button#delete-account(type="submit")
        i.fas.fa-shopping-cart  Delete

h3 Here is where you will see products that you have posted for sale: