include ../head.pug
- let sectionTitle= "Signin"
include ../nav.pug

body
  form(action="/signin", method="post")
    input(type="email" name="email" placeholder="Email")
    input(type="password" name="password" placeholder="Password")
    button(type="submit") Sign In
